[package]
name = "deriving_via"
version.workspace = true
edition.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
description = "DerivingVia"

[dependencies]
deriving_via_macros = "2.2.0"

[features]
default = ["std"]
std = []
alloc = []
