[package]
name = "deriving-via-impl"
version = "0.1.0"
edition = "2021"
authors = ["MitamaLab <mitama@mitama.tech>"]
description = "DerivingVia"
repository = "https://github.com/LoliGothick/deriving_via"
license = "MIT"

[lib]
proc-macro = true

[dependencies]
convert_case = "0.6.0"
proc-macro2 = "1.0.64"
quote = "1.0.29"
syn = { version = "2.0.24", features = ["full"] }
