[package]
name = "deriving-via-impl"
version = "0.1.0"
edition = "2021"
authors = ["MitamaLab <mitama@mitama.tech>"]
description = "DerivingVia"
repository = "https://github.com/LoliGothick/deriving_via"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0.56"
quote = "1.0.26"
syn = { version = "2.0.14", features = ["full"] }
convert_case = "0.6.0"
